<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
         <script src="js/lib/jquery-2.2.1.js"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
         <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
         <link rel="stylesheet" href="style/style_list.css">
         <link rel="stylesheet" href="style/style_grid.css">
         <link rel="stylesheet" href="style/style.css">
         <link rel="stylesheet" href="js/bower_components/dragula.js/dist/dragula.css">
        <title> Best publishing house </title>
        </head>
        <body ng-controller="TaskController">
        <div class="wrapper">
        <div id="left-menu" class="left-menu"></div>
            <div class="headerMenu">
                <div class="menus">
                <div class="logo"></div><div class="logo-desc">Raspberry Publishing Inc.</div>
                  <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default super-buttons" ui-sref="dashboard"> Dashboards </button>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle super-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tasks
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="super-buttons-not" ng-click="showModal()">Create task</a></li>
                    </ul>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle super-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Publications
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="super-buttons-not" ng-click="showModal()">Create publication</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default super-buttons">Meetings</button>
                   <button type="button" class="btn btn-default super-buttons">Rules</button>
                </div>
                </div>
            </div>
            <div class="main">  
               <ui-view>
            </div>
        </div>

    
        <script src="js/lib/underscore-1.8.3.js"></script> 
        <script src="js/bower_components/dragula.js/dist/dragula.js"></script>
        <script src="js/UserView.js"></script>
        <script src="js/bower_components/angular/angular.js"></script>
        <script src="js/bower_components/angular-animate/angular-animate.js"></script>
        <script src="js/bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="js/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
        <script src="js/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="js/transactions/transactionsService.js"></script>
        <script src="js/transactions/transactionsModule.js"></script>
        <script src="js/todos/todoController.js"></script>
        <script src="js/todos/todoDirective.js"></script>
        <script src="js/transactions/transactionsController.js"></script>
        <script src="js/transactions/taskDirective.js"></script>
        <script src="js/transactions/config.js"></script>
    </body>
</html> 