<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
         <script src="js/lib/jquery-2.2.1.js"></script> 

        <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">

        <script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="js/bower_components/components-font-awesome/css/font-awesome.css">

        
        <!-- <link href='js/bower_components/components-font-awesome/fonts/indie.woff2' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'> 

        <link rel="stylesheet" href="js/bower_components/ionic/css/ionic.min.css">

        <script src="js/bower_components/ionic/js/ionic.bundle.min.js"></script>

         <link rel="stylesheet" href="style/style_list.css">
         <link rel="stylesheet" href="style/style_grid.css">
         <link rel="stylesheet" href="style/style.css">
         <link rel="stylesheet" href="js/bower_components/dragula.js/dist/dragula.css">
        <title> Best publishing house </title>
        </head>
        <body ng-controller="TaskController">
        <div class="wrapper">
        <div id="left-menu" class="left-menu"></div>
            <div class="headerMenu">
                <div class="menus">
                <div class="logo"></div><div class="logo-desc">Raspberry Publishing Inc.</div>
                  <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default super-buttons" ui-sref="dashboard"> Dashboards </button>
                  <button type="button" class="btn btn-default super-buttons" ng-click="addPublication()"> New Publication </button>
                  <button type="button" class="btn btn-default super-buttons" ng-click="addTask()"> New Task </button>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle super-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Find
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="super-buttons-not" ui-sref="authors"> Authors</a></li>
                      <li><a href="#" class="super-buttons-not" ui-sref="staff"> Staff </a></li>
                     <li><a href="#" class="super-buttons-not" ui-sref="publications"> Publications </a></li>
                     <li><a href="#" class="super-buttons-not" ui-sref="tasks"> Tasks </a></li>
                     <li><a href="#" class="super-buttons-not" ui-sref="chart"> Statistics </a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default super-buttons">Meetings</button>
                   <button type="button" class="btn btn-default super-buttons">Rules</button>
                </div>
                </div>
            </div>
            <div class="main">
               <ui-view>
            </div>
        </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="js/lib/underscore-1.8.3.js"></script> 
        <script src="js/bower_components/dragula.js/dist/dragula.js"></script>
        <script src="js/UserView.js"></script>
        <script src="js/bower_components/moment/moment.js"></script>
        <script src="js/bower_components/angular/angular.js"></script>
        <script src="js/bower_components/angular-animate/angular-animate.js"></script>
        <script src="js/bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="js/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
        <script src="js/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="js/transactions/transactionsService.js"></script>
        <script src="js/transactions/transactionsModule.js"></script>
        <script src="js/transactions/gridDirective.js"></script>
        <script src="js/todos/todoController.js"></script>
        <script src="js/todos/todoDirective.js"></script>
        <script src="js/transactions/transactionsController.js"></script>
        <script src="js/transactions/taskDirective.js"></script>
        <script src="js/transactions/config.js"></script>
    </body>
</html> 