body{
	background-color: #ae3270;
}
.task-id{
	background-color: #443366;
	color: white;
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 2px;
}
.super-buttons{
	font-family: 'Indie Flower';
	font-size: 22px;
	background: transparent; 
	border: none;
	color: white;
}
.super-buttons-not{
	font-family: 'Indie Flower';
	font-size: 22px;
	background: transparent; 
	border: none;
	color: white;
}
.logo{
	margin-left: 30px;
	margin-top: -7px;
	background-color: red;
	width: 35px;
	height: 42px;
	display: inline-block;
	float: left;
	background: url("../style/r.png");
	background-size: cover;
}
.logo-desc{
	display: inline-block;
    font-family: 'Indie Flower';
    font-size: 22px;
    color: black;
    font-weight: 800px;
    float: left;
    font-style: bold !important;
    margin-top: 9px;
    font-weight: bold;
    margin: 5px;
    margin-top: 9px;
}
.super-buttons:hover{
	background: transparent; 
	border: none;
	color: white;
	transform: scale(1.5);
	padding: 0 30px 0 30px;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus {
	background: transparent !important; 
	border: none !important;
	color: white !important;
	font-family: 'Indie Flower';
	font-size: 22px;
}
.btn:focus, .btn:focus:active {
  outline: none;
}
.wrapper{
	padding: 5px 0;
    height: 80%;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
}
.headerMenu{
	width: 100%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid white;
	margin-top: 5px;
}
.menus{
	vertical-align: middle;
}
.tip{
	display: inline-block;
	width: 30%;
	font-size: 22px;
	font-family: 'Indie Flower';
	margin-top: 7px;
	cursor: pointer;
	font-weight: 600;
}
span{
	font-size: 22px;
	font-family: 'Indie Flower', cursive;
	margin: 10px;
	font-weight: 600;
	color: white;
}
.circle_p{
	background-color: #443366;
	color: white;
	border: 3px solid #acd2cd;
	border-radius: 20px;
	width: 35px;
	height: 35px;
	display: inline-block;
	font-family: "Tahoma";
	padding-top: 5px;
}
.circle_p:hover{
	background-color: white;
	color: #443366;
	border: 2px solid  #443366;
}
.tip_text{
	display: inline-block;
	color: white;
	min-width: 170px;
	text-align: center;
}
.main{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
	height: 800px;
	border-radius: 15px;
}
.panels{
	overflow:scroll;
	height: 490px;	
}
.inputArea{
	margin: 5px;
	width: 100%;
	text-align: center;
}
.filer-input{
	width: 70%;
	line-height: 2.5;
}
.list{
	text-align:center;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.modal.center .modal-dialog {
    position:fixed;
    top:40%;
    left:50%;
    min-width:320px;
    max-width:630px;
    width:80%;
    height: 90%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
.add-transaction-form{
	margin-right: 5px;
	padding-right: 5px;
	display: inline-block;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

.form-horizontal input, p, label, select, h1, h2, h3, h4{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Indie Flower', cursive;
	text-align: left;
}

.form-horizontal label{
	font-weight: 500;
}


.form-horizontal h1{
	font-size: 30px;
	font-weight: 600;
	color: #5DC5B8;
}

.form-horizontal h3{
	font-size: 22px;
	font-weight: 600;
	color:  #443366;
}

.form-horizontal button{
	text-align: center;
}

.myFormBtn{
	background-color: #443366;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    border: 3px solid white;
    width: 98px;
} 
.myFormBtn:hover{
	background-color: #e588b6;
	color:  #443366;
	border: 3px solid  #443366;
} 
.form-horizontal input.ng-invalid {
    background-color:red;
}
.form-horizontal input.ng-valid {
    background-color:#acd2cd;
}
.form-horizontal input.ng-pristine {
    background-color: white;
}
.contextMenu {
    position: fixed;
    top: 0;
    left: -180px;
    transition: .4s;
    height: 100%;
    text-align: center;
    background-color: black;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contextMenu.open {
    transition: 0.4s;
    left: 0;
    z-index: 4;
    color: black;
    background-color:  grey; 
}

.contextMenu button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: -150px;
    margin-left: 60%;
}

.contextMenu button:hover {
    color: white;
}
.profile-container{
    margin-top: -50px;
    font-size: 30px;
    font-weight: 300;
    color: black;
}

.profile-container hr{
    border-color: black;
}
.to-do, .in-progress, .done{
	vertical-align: top;
	min-height: 240px;
	width: 32%; 
	background-color: #e588b6;
	display: inline-block;
}
.panels{
	margin: 20px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}