.main_todo{
	width: 100%;
    padding: 5px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #892b5a;
}
.inputArea{
	margin: 5px;
	width: 100%;
	text-align: center;
}
.main_todo input{
    line-height: 2.5;
    background-color: white;
    border: 1px solid #443366;
    margin: auto;
    border-radius: 40px;
}
.list{
	text-align:center;
	margin: 0px;
}
.listArea{
	max-height: 350px;
	overflow-y: scroll;
}
.todo{
	font-family: 'Indie Flower';
	width: 90%;
	height: 200px;
	border: 1px solid #443366;
	border-left: 4px solid #443366;
	cursor: -webkit-grab;
	margin: 10px auto 10px auto;
    padding: 5px;
    background-color: white;
    transition: opacity 0.4s ease-in-out;
}
.todoText{
	font-family: 'Indie Flower';
	font-size: 22px;
	text-align: left;
}
.todoContainer{
	text-align: center;
}
.main_todo h3{
	margin: 10px;
}
.myBtn{
	border: none;
	background-color: transparent;
	color: #443366;
	font-weight: 800;
	font-size: 25px;
	transition: all .2s ease-in-out;
}
.myBtn:hover{
	  transform: scale(2); /* Standard syntax */
}
.user-info{
	margin: 15px;
}
.photo-user{
	background: url("../style/saz.svg");
	background-size: 100%;
}
.circ{
	min-width: 40px;
	padding: 0 6px 0 10px;
	width: 40px;
	height: 30px;
	border: 2px solid white;
	border-radius: 30px;
	margin-top: 30px;
}