<div class="main_todo">
    <div class="todoContainer">
        <div class="checkbox">
            <label><input styles="width: 5px;" type="checkbox" value="ctrl.checked" ng-click="ctrl.checked = !ctrl.checked; ctrl.showMyTasks()"></label>
            <span> Only my tasks</span>
        </div>
        <div class="inputArea">
             <input style="width: 50%; display: inline-block;" class="filter-input" type="text" autofocus="autofocus" ng-model="lastTodo" ng-focus="clearInput()" ng-keyup="onEnter($event)" placeholder="Enter todo">
             <div style="display: inline-block;" type="button" class="btn btn-primary myFormBtn" ng-click="addItem(lastTodo)">Filter</button>
        </div>
        <div class="panels">
            <div class="to-do" > <div style="font-size: 20px;font-weight: 800;font-family: 'Indie Flower';">To Do </div>
                 <div class="list" ng-repeat-start="todo in ctrl.todoTasks" ng-if="false"></div>
                    <todo-item></todo-item>
                 <div ng-repeat-end ng-if="false"></div>
            </div>
             <div class="in-progress"> <div style="font-size: 20px;font-weight: 800;font-family: 'Indie Flower';">In Progress </div>
                <div class="list" ng-repeat-start="todo in ctrl.inProgressTasks" ng-if="false"></div>
                    <todo-item></todo-item>
                 <div ng-repeat-end ng-if="false"></div>
              </div>
             <div class="done"> <div style="font-size: 20px;font-weight: 800;font-family: 'Indie Flower';"> Done </div>
                    <div class="list" ng-repeat-start="todo in ctrl.doneTasks" ng-if="false"></div>
                    <todo-item></todo-item>
                 <div ng-repeat-end ng-if="false"></div>
             </div>
        </div>
    </div>
</div>